@use '../../../../styles/variables' as *;

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: $color-brand-hover-bg;
    color: $color-header-logo-hover-gray;
    font-weight: 500;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius-large;

    &__header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        &_title {
            display: flex;
            justify-content: center;
            padding: 15px 0;
            font-size: 18px;
            margin-left: auto;

        }
    }

    &__close-btn {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: self-start;
        background-color: transparent;
        border: none;
        border-radius: $border-radius-medium;
        margin: 5px 5px 0 auto;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
            background-color: $color-brang-bg-default;
        }

        i {
            font-size: 16px;
        }
    }

    &__texture {
        &_title {
            margin-top: 20px;
            padding: 5px 0;
        }
    }

    .form__add {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        * {
            box-sizing: border-box;
        }

        .form__add_title {
            font-size: 18px;
            background-color: $color-brand-bg;
            color: $color-text-brand-gray;
            border-radius: $border-radius-small;
            height: 40px;
            border: $color-header-logo-hover-gray 1px solid;

            &.error {
                border-color: $color-button-hover-red;
                outline: none;

                &:focus {
                    border-color: $color-button-hover-red;
                }
            }

            &::placeholder {
                color: #9c9c9c;
            }
        }

        .form__add_color {
            height: 40px;
        }

        .board__button_add-item {

            border-radius: $border-radius-small;
            background-color: $color-brand-blue;
            color: $color-brand-bg;
            border: none;
            height: 30px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;

            &:disabled {
                background-color: $color-brang-bg-default;
                color: $color-header-logo-hover-gray;
                cursor: not-allowed;
                opacity: 0.7;

                &:hover {
                    background-color: $color-brang-bg-default;
                }
            }

            &:hover {
                background-color: $color-brand-white-blue;
            }
        }
        .modal__error-text {
            font-size: 14px;
            font-weight: 500;
        }
    }
}