.form__add {

    input,
    button {
        box-sizing: border-box;
    }

    .form__add_title, .form__add_color {

        display: block;
        width: 100%;
        background-color: rgb(74, 74, 75);
        margin-top: 5px;
        
    }
    .form__add_title{
        font-size: 18px;
        color: #dddddd;
        &::placeholder {
            color: #9c9c9c;
        } 
    }
    .form__add_color{
        height: 40px;
    }
    .board__button_add-item {
        display: block;
        margin-top: 10px;
        width: 100%;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
    
    }
}
