// Colors
$color-brand-blue: #0079bf;
$color-brand-white-blue: #00aaff;
$color-brand-bg: #282828;
$color-brang-bg-default: #727272;
$color-brand-hover-bg: #444;
$color-header-logo-hover-gray: #bbb;
$color-header-logo-hover-white: #fff;
$color-text-brand-gray: #bbb;
$color-button-hover-red: #991111;


//borders
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;