// Colors
$color-brand-blue: #39aff3;
$color-brand-white-blue: #6fd1ff;
$color-brand-bg: #282828;
$color-brang-bg-default: #727272;
$color-brand-hover-bg: #444;
$color-header-logo-hover-gray: #bbb;
$color-header-logo-hover-white: #fff;
$color-text-brand-gray: #bbb;
$color-button-hover-red: #991111;
$color-white-half-opacity: rgba(255, 255, 255, 0.4);
$color-checkbox-active-green: #77bb55;
$color-white-text: #fff;
$color-gray-text: #bbb;

//borders
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;