@use '/src/styles/variables' as *;

.auth {
    &__password-eye {
        position: absolute;
        right: 10px;
        top: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        background: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
        margin: 0;
        line-height: 1;
        font-size: 16px;
    }

    &__password-eye i {
        display: block;
        line-height: 1;
    }
    &__password-wrapper {
        position: relative;
        width: 100%;
    }
}