@use '/src/styles/variables' as *;

.list,
.empty-list {
    flex-shrink: 0;
    min-width: 320px;
    max-width: 320px;
    min-height: 160px;
    font-size: 10px;
    display: flex;

    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;
}

.list {

    &__title,
    .edit-title .edit-title__input {
        display: flex;
        height: auto;
        align-items: center;
        width: auto;
        margin: 0;
        justify-content: flex-start;
        box-sizing: border-box;
        font-size: 24px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(117, 117, 117, 0.5);
        padding: 0 10px;
        cursor: pointer;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        border-radius: $border-radius-large;

        &:focus {
            color: black;
            transition: transform 0.2s;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin: 0;
        font-size: 20px;
    }

    &__footer {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .button__add_card {
            background-color: $color-white-half-opacity;
            border: none;
            border-radius: $border-radius-medium;
            height: 30px;
            font-size: 16px;
            font-weight: 550;
            padding: 0 10px;
            cursor: pointer;
        }
    }
}

.empty-list {
    background-color: rgba(145, 144, 144, 0.2);
    padding: 0;
    min-width: auto;

    min-height: auto;
}

.board__title_wrapper .list__button_custom-icon {
    align-self: center;
}

.list__button_custom-icon {
    align-self: flex-start;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 5px !important;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.2);
        opacity: 0.8;
    }

    .icon-wrapper {
        width: 25px;
        height: 25px;
        background-image: url('../../../../../public/assets/color-picker-icon.png');
        display: block;
        background-size: contain;
    }
    .delete-textures {
        background-image: url('../../../../../public/assets/color-delete-icon.png');
        width: 25px;
        height: 25px;
        background-color: transparent;
    }
}

.board__list .empty-list .list {
    display: flex;
    box-sizing: border-box;
    flex: 1;
    height: auto;
    background-color: transparent;
}

.list__cards {
    list-style: none;
    padding: 0;
    margin: 0;
}

.empty-list .list .list__header .list__title {
    // flex: 1;
    min-width: 0;
    white-space: normal;
    word-wrap: break-all;
    overflow-wrap: anywhere;
    border: 2px solid transparent;
}

.list__header .form_wrapper .edit-title .edit-title__input {
    width: fit-content;
    max-width: 100%;
}