.list {
    background-image: url('../../../../assets/textur.jpg');

    width: 200px;
    min-height: 130px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;

    &__title {
        margin: 0;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        font-size: 20px;
    }
}

.edit-title,
.list__title {
    font-size: 25px;
    display: inline-flex;

    &__input {
        flex-shrink: 1;
        width: auto;
        background-color: #a55656; // Колір як при ховері
        outline: none; // Прибираємо стандартне синє виділення браузера

        &:focus {
            border-color: #ac7474; // Або інший колір, щоб підкреслити редагування
        }
    }
}