@use '/src/styles/variables' as *;

.card-move {
    &__overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &__window {
        background-color: $color-brand-bg;
        border-radius: $border-radius-large;
        width: 350px;
        padding: 10px;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &_title {
            font-size: 16px;
            color: $color-text-brand-gray;
            font-weight: 600;
        }
    }

    &__close {
        background-color: transparent;
        border: none;
        border-radius: $border-radius-large;
        width: 30px;
        height: 30px;
        font-size: 20px;
        color: $color-text-brand-gray;
        cursor: pointer;

        &:hover {
            background-color: $color-brand-hover-bg;
        }
    }

    &__selector {
        height: 40px;
        color: $color-gray-text;
        font-size: 18px;
        padding: 0 5px;
        background-color: $color-brand-bg-dark;
        cursor: pointer;
        border-radius: $border-radius-small;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:focus {
            border-color: $color-brand-blue;
        }

        &_blocked {
            cursor: not-allowed;
        }
    }

    &__destination_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        margin: 20px 0;
        width: 100%;
    }

    &__list_selector,
    &__card-position_selector {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__list_selector {
        width: 215px;
    }

    &__board_selector {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        gap: 10px;
        ;
    }

    &__action_title {
        font-size: 18px;
        color: $color-gray-text;
        font-weight: 500;
    }

    &__selector_name {
        font-size: 16px;
        color: $color-gray-text;
        font-weight: 600;
    }

    &__move-button {
        width: 100%;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: $border-radius-medium;
        display: flex;
        padding: 7px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: $color-brand-blue;
        font-weight: 500;

        &:hover {
            background-color: $color-brand-white-blue;
        }

        &_blocked {
            
            cursor: not-allowed;
            &:hover {
            background-color: $color-brand-blue;
        }
        }
    }
}