.board {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;

    .color-picker {
        max-width: 800px;
        align-items: center;
    }

    .edit-title {
        background-color: rgb(20, 20, 20, 0.3);

        height: 80px;
        display: flex;
        align-items: center;

    }

    &__title_wrapper {
        padding: 0 20px;
        display: flex;
        flex-wrap: nowrap;
    }

    &__title,
    .edit-title__input {
        box-sizing: border-box;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(20, 20, 20);
        font-weight: 700;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 8px 14px;
        border: 2px solid transparent;
        margin: 0;
    }

    .edit-title__input {
        background: none;
    }

    &__title {
        cursor: pointer;
        background-color: #939393;
        margin: 5px;
        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
        }
    }

    &__list {
        box-sizing: border-box;
        flex: 1;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: flex-start;
        min-height: 0;
        width: 100%;

        &::-webkit-scrollbar {
            display: block;
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #727272;
            border-radius: 10px;
            border: 2px solid transparent;
            background-clip: content-box;

            &:hover {
                background: #333;
            }
        }

        // Для Firefox (він не розуміє webkit)
        scrollbar-width: auto;
        scrollbar-color: #555 rgba(0, 0, 0, 0.1);
    }

    &__add_button {
        height: 30px;
    }

    .edit-title {
        display: inline-flex;

        &__input {
            flex-shrink: 1;
            width: auto;
            background-color: #949393;
            outline: none;

            &:focus {
                border-color: #333;
                transition: transform 0.2s;
            }
        }
    }

    &__add_button {
        cursor: pointer;
        height: 40px;
        font-weight: 600;
        min-width: 160px;
        border-radius: 10px;
        background-color: #979797;

        &:hover {
            background-color: #777777;
            transition: transform 0.2s;
        }
    }
}

.board__title_wrapper {
    background-color: rgb(20, 20, 20, 0.2);
    margin: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}