.board {
    box-sizing: border-box;

    &__title_wrapper,
    .edit-title {
        background-color: #575757;
        height: 80px;
        display: flex;
        align-items: center;

    }

    &__title_wrapper {
        padding: 0 20px;
    }

    &__title,
    .edit-title__input {
        box-sizing: border-box;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(20, 20, 20);
        font-weight: 700;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 8px 14px;
        border: 2px solid transparent;
        margin: 0;
    }

    .edit-title__input {
        background: none;
    }

    &__title {
        cursor: pointer;

        &:hover {
            background-color: #939393;
            transition: transform 0.2s;
        }
    }

    &__list {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: flex-start;
    }

    &__add_button {
        height: 30px;
    }

    .edit-title {
        display: inline-flex;

        &__input {
            flex-shrink: 1;
            width: auto;
            background-color: #949393; // Колір як при ховері
            outline: none; // Прибираємо стандартне синє виділення браузера

            &:focus {
                border-color: #333; // Або інший колір, щоб підкреслити редагування
                transition: transform 0.2s;
            }
        }
    }

    &__add_button {
        cursor: pointer;
        height: 40px;
        font-weight: 600;
        border-radius: 10px;
         background-color: #979797; 
        &:hover {
             background-color: #777777;
            // background-color: rgba(10, 10, 10, 0.2);
              transition: transform 0.2s;
        }
    }
}