@use '/src/styles/variables' as *;

.auth {
    
    &__password-eye {
        position: absolute;
        right: 10px;
        top: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        background: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
        margin: 0;
        line-height: 1;
        font-size: 16px;
    }
    &__password-wrapper {
        position: relative;
        width: 100%;
    }
    &__reliability {
        height: 2px;
        width: 60px;

        &_wrapper {
            padding: 0 1px;
            display: flex;
            justify-content: space-between;
            margin: 2px 0;
        }

        &_zero {
            background-color: #b91b1b;
        }

        &_low {
            background-color: #ff7300;
        }

        &_medium {
            background-color: #dae912;
        }

        &_high {
            background-color: #00c853;
        }
    }
}